<!-- $Id: bonus_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="form-div">
  <form name="searchForm" action="javascript:bonus_search_form()" method="post" style="margin:0px">
  <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
	红包序列号
	<input type="text" name="bonus_sn" size="15" />
	&nbsp;&nbsp;&nbsp;订单号
	<input type="text" name="order_sn" size="15" />
	&nbsp;&nbsp;&nbsp;会员
	<input type="text" name="user_name" size="15" />
	收货人姓名
	<input type="text" name="consignee" size="15" />
	&nbsp;&nbsp;&nbsp;收货人电话号码
	<input type="text" name="tel" size="15" />
	&nbsp;&nbsp;&nbsp;收货人详细地址
	<input type="text" name="address" size="15" /><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开始日期&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' readonly="readonly" /><input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('start_date', '%Y-%m-%d', false, false, 'selbtn1');" value="{$lang.btn_select}" class="button"/>&nbsp;&nbsp;
    结束日期&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' readonly="readonly" /><input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('end_date', '%Y-%m-%d', false, false, 'selbtn2');" value="{$lang.btn_select}" class="button" />&nbsp;&nbsp;
	是否使用
	<input type="checkbox" name="state" size="15" value="1"/><span style="color:red">(勾选此选项才能启用时间搜索)</span>
	指定查询
	<input type="checkbox" name="assign" size="15" value="1"/><span style="color:red">(指定查询)</span>
    <input type="submit" name="submit" value="查询" class="button" />
  </form>
</div>
<form method="POST" action="bonus.php?act=batch&bonus_type={$smarty.get.bonus_type}" name="listForm">
<!-- start user_bonus list -->
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th>
        <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
        <a href="javascript:listTable.sort('bonus_id'); ">{$lang.record_id}</a>{$sort_bonus_id}</th>
      {if $show_bonus_sn}
      <th><a href="javascript:listTable.sort('bonus_sn'); ">{$lang.bonus_sn}</a>{$sort_bonus_sn}</th>
      {/if}
      <th><a href="javascript:listTable.sort('type_name'); ">{$lang.bonus_type}</a>{$sort_type_name}</th>
      <th><a href="javascript:listTable.sort('order_id'); ">{$lang.order_id}</a>{$sort_order_id}</th>
      <th><a href="javascript:listTable.sort('user_id'); ">{$lang.user_id}</a>{$sort_user_id}</th>
      <th><a href="javascript:listTable.sort('used_time'); ">{$lang.used_time}</a>{$sort_use_time}{$sort_used_time}</th>
      {if $show_mail}
      <th><a href="javascript:listTable.sort('emailed'); ">{$lang.emailed}</a>{$sort_emailed}{$sort_emailed}</th>
      {/if}
	  <th><a href="javascript:listTable.sort('consignee'); ">收货人姓名</a>{$sort_consignee}</th>
	  <th><a href="javascript:listTable.sort('tel'); ">收货人电话号码</a>{$sort_tel}</th>
	  <th>收货人所在区域</th>
	  <th><a href="javascript:listTable.sort('address'); ">收货人详细地址</a>{$sort_address}</th>
      <th>{$lang.handler}</th>
    </tr>
    {foreach from=$bonus_list item=bonus}
    <tr>
      <td><span><input value="{$bonus.bonus_id}" name="checkboxes[]" type="checkbox">{$bonus.bonus_id}</span></td>
      {if $show_bonus_sn}
      <td>{$bonus.bonus_sn}</td>
      {/if}
      <td>{$bonus.type_name}</td>
      <td><a href="order.php?act=info&order_id={$bonus.order_id}">{$bonus.order_sn}</a></td>
      <td>{if $bonus.email}<a href="mailto:{$bonus.email}">{$bonus.user_name}</a>{else}{$bonus.user_name}{/if}</td>
      <td align="right">{$bonus.used_time}</td>
      {if $show_mail}
      <td align="center">{$bonus.emailed}</td>
      {/if}
	 <td align="center">{$bonus.consignee}</td>
	 <td align="center">{$bonus.tel}</td>
	 <td align="center">{$bonus.area}</td>
	 <td align="center">{$bonus.address}</td>
      <td align="center">
        <a href="javascript:;" onclick="listTable.remove({$bonus.bonus_id}, '{$lang.drop_confirm}', 'remove_bonus')">{$lang.remove}</a>
        {if $show_mail and $bonus.order_id eq 0 and $bonus.email}<a href="bonus.php?act=send_mail&bonus_id={$bonus.bonus_id}">{$lang.send_mail}</a>{/if}</td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td><input type="submit" name="drop" id="btnSubmit" value="{$lang.drop}" class="button" disabled="true" />
      {if $show_mail}<input type="submit" name="mail" id="btnSubmit1" value="{$lang.send_mail}" class="button" disabled="true" />{/if}</td>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end user_bonus list -->
</form>

<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.query = "query_bonus";

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
    document.forms['listForm'].reset();
	getDownUrl()
  }
function bonus_search_form()
{
	var bonus_searchs = document.forms['searchForm'];
	listTable.filter['bonus_sn'] = Utils.trim(bonus_searchs.elements['bonus_sn'].value);
	listTable.filter['order_sn'] = Utils.trim(bonus_searchs.elements['order_sn'].value);
	listTable.filter['user_name'] = Utils.trim(bonus_searchs.elements['user_name'].value);
	listTable.filter['consignee'] = Utils.trim(bonus_searchs.elements['consignee'].value);
	listTable.filter['tel'] = Utils.trim(bonus_searchs.elements['tel'].value);
	listTable.filter['address'] = Utils.trim(bonus_searchs.elements['address'].value);
	listTable.filter['state'] = bonus_searchs.elements['state'].checked;
	listTable.filter['assign'] = bonus_searchs.elements['assign'].checked;
	listTable.filter['start_date'] = Utils.trim(document.forms['searchForm'].elements['start_date'].value);
	listTable.filter['end_date'] = Utils.trim(document.forms['searchForm'].elements['end_date'].value);
	listTable.filter['page'] = 1;

	listTable.loadList();
	getDownUrl()
}
function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = frm.elements['start_date'].value;
        listTable.filter['end_date'] = frm.elements['end_date'].value;
      }
      aTags[i].href = "bonus.php?act=download&start_date=" + listTable.filter['start_date'] + "&end_date=" + 
	  listTable.filter['end_date']+ "&bonus_sn=" + listTable.filter['bonus_sn']+ "&order_sn=" + listTable.filter['order_sn']+ 
	  "&user_name=" + listTable.filter['user_name']+ "&consignee=" + listTable.filter['consignee']+
	  "&tel=" + listTable.filter['tel']+"&address=" + listTable.filter['address']+"&state=" + listTable.filter['state']+"&bonus_type=" + listTable.filter['bonus_type']+"&assign=" + listTable.filter['assign'];
    }
  }
}
  {/literal}
</script>


{include file="pagefooter.htm"}
{/if}