<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>支付商银行管理--系统管理</title>
<link href="styles/pay/admin.css" rel="stylesheet" type="text/css">
<link href="styles/pay/css.css" rel="stylesheet" type="text/css">
<link href="styles/pay/style.css" rel="stylesheet" type="text/css">
<script language="javascript" src="styles/pay/jquery-1.js"></script>
<script language="javascript" src="styles/pay/functions_002.js"></script>
<script language="javascript" src="styles/pay/ajax.js"></script>
<script src="styles/pay/functions.js" language="javascript"></script>
<script language="javascript" src="styles/pay/batch_delete.js"></script>
{if $full_page}

{insert_scripts files="../js/transport.js,common.js"}

{/if}
<script language="javascript" type="text/javascript">
function onsub(){
	var sub = check_cp_frm();
	if(sub == true){
		document.getElementById('cp_frm').submit();
	}
}
function check_cp_frm(){
  var bank_name         = document.getElementById('bank_name').value;
  var bank_code         = document.getElementById('bank_code').value;
  if(bank_name == ''){
    alert('请输入银行名称');
    return false;
  }
  if(bank_code == ''){
    alert('请输入本地代码');
    return false;
  }
  return true;
} 
</script>
</head>

<body>
<div  id="listDiv">
<hr  style="margin-top:8px;margin-bottom:8px;">
<table class="functionBar" cellspacing="0" border="0" width="100%">
  <tbody><tr class="bTitle">
    <td class="top-font01" height="25">&nbsp;
      <a href="pay.php?act=payment">支付商管理</a>&nbsp;|&nbsp;
      <a href="pay.php?act=pay_type">支付方式管理</a>&nbsp;|&nbsp;
      <a href="pay.php?act=bank">支付商银行管理</a>&nbsp;|&nbsp;
      <a href="pay.php?act=pay_set">支付通道设置</a>&nbsp;|&nbsp;
      <a href="pay_message.php?act=message">支付商银行查询</a>&nbsp;|&nbsp;
      <a href="pay.php?act=show_bank">银行设置</a>&nbsp;|&nbsp;
    </td>   
  </tr>
</tbody></table>
<hr size="1">
<form name="cp_frm" method="POST" action="pay.php" id="cp_frm" enctype="multipart/form-data">
<fieldset>
<legend class="" top-font01"=""> 支付商银行管理 </legend>
<!--新增 开始-->
<table cellspacing="1" bgcolor="#D8D8D8" border="0" width="100%">
	
    <input name="act" value="edit_show_bank" type="hidden"/>
    <input name="id" value="{$bank.id}" type="hidden"/>
    <input name="" value="" type="hidden"/>
	   <tbody>

	   <tr>
		<td align="right" bgcolor="#C2E0E2" height="30">银行名称：</td>
		<td align="left" bgcolor="#FFFFFF">
		  <input name="bank_name" id="bank_name" type="text" value="{$bank.bank_name}"><span class="comment"></span>    </td>
		<td align="right" bgcolor="#C2E0E2">本地代码：</td>
		<td align="left" bgcolor="#FFFFFF">
		<input name="bank_code" id="bank_code" type="text" value="{$bank.bank_code}"><span class="comment">[例如：1001]</span>
		   </td>
		   
	   </tr>

	   <tr>
		<td align="right" bgcolor="#C2E0E2" height="30">银行图片</td>
		<td align="left" bgcolor="#FFFFFF">
			<input type="file"  name="bank_image" id="bank_image"/>
		</td>
		<td align="right" bgcolor="#C2E0E2">状态：</td>
		<td align="left" bgcolor="#FFFFFF">
		   <input id="status" name="status" value="1" {if $bank.state eq 1}checked="checked"{/if} type="radio">开启	 
			 <input id="status" name="status" value="0" {if $bank.state eq 0}checked="checked"{/if}type="radio">关闭
		</td>
	  </tr>
	   <tr>
		<td align="right" bgcolor="#C2E0E2" height="30">指定通道：</td>
		<td align="left" bgcolor="#FFFFFF">
			<input name="payment" type="text" value="{$bank.payment}"><span class="comment">[例如：UNTX,可空]</span>
		</td>
		<td align="right" bgcolor="#C2E0E2"></td>
		<td align="left" bgcolor="#FFFFFF">
		</td>
	  </tr>
	  <tr bgcolor="#FFFFFF">
		  <td align="right" bgcolor="#C2E0E2" height="30"></td>
		   <td colspan="4" align="left" height="30">
		  <input value="修 改" class="right-button07" type="button" onclick="onsub()">
		  <input value="重 置" class="right-button07" type="reset">
		  <input value="返 回" class="right-button07" onclick="javascript:history.go(-1)" type="button">
		  </td>	   
	  </tr>
	</tbody>
</table>
</fieldset>
</form> 
<!--新增 结束-->
<hr size="1">
<br>


<table cellpadding="3" cellspacing="1" bgcolor="#CCCCCC" border="0" width="100%"> 
  <tbody><tr>
    <th align="center" bgcolor="#C2E0E2" width="244">银行名称</th>
    <th align="center" bgcolor="#C2E0E2" width="160">本地代码</th>
    <th align="center" bgcolor="#C2E0E2" width="160">银行图片</th>
    <th align="center" bgcolor="#C2E0E2" width="160">指定通道</th>
	  <th align="center" bgcolor="#C2E0E2" width="194">当前状态</th>
	  <th align="center" bgcolor="#C2E0E2" width="218">操作</th>
  </tr>

     <tr  bgcolor="#ffffff">
    <td align="center">{$bank.bank_name}</td>
    <td align="center">{$bank.bank_code}</td>
    <td align="center"><img src="../{$bank.bank_img}"></td>
    <td align="center">{$bank.payment}</td>
	  <td align="center">
	     {if $bank.state eq 1}开通{else}<font color="red">关闭</font>{/if} 
	  </td>
	  <td align="center">
	   <a href="javascript:void(0)">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a href="javascript:void(0)" onclick="if(window.confirm('您确定要删除此条记录吗？')) this.href='pay.php?act=del_show_bank&id={$bank.id}'">删除</a>
    </td>
  </tr>
    </tbody></table>

 <hr size="1">
<table border="0" width="100%">
	<tbody><tr><td align="right" bgcolor="#FFFFFF">
		</td>
	</tr>
</tbody></table>
</div>



</body></html>